<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Primary Meta Tags -->
    <title>{{ game['name'] }} Hack & Generator</title>
    <meta name="title" content="{{ game['name'] }}">
    <meta name="description"
          content="{{ game['name'] }} generator: Get free and instant resources, use free {{ game['name'] }} hack tool.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="/app/id{{ game['id'] }}.html">
    <meta property="og:title" content="{{ game['name'] }} Hack & Generator">
    <meta property="og:description"
          content="{{ game['name'] }} generator: Get free and instant resources, use free {{ game['name'] }} hack tool.">
    <meta property="og:image"
          content="{{ game['icon'] }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="/app/id{{ game['id'] }}.html">
    <meta property="twitter:title" content="{{ game['name'] }} Hack & Generator">
    <meta property="twitter:description"
          content="{{ game['name'] }} generator: Get free and instant resources, use free {{ game['name'] }} hack tool.">
    <meta property="twitter:image" content="{{ game['icon'] }}">
    <style>#module #collapseExample.collapse:not(.show){display:block;height:3rem;overflow:hidden}#module #collapseExample.collapsing{height:3rem}#module a.collapsed:after{content:'+ Show More'}#module a:not(.collapsed):after{content:'- Show Less'}</style>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NG6S5Z3');</script>
<!-- End Google Tag Manager -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: '07REZ329KM',
    apiKey: 'b26dbc9bf5167d3131f7960d858e4a4e',
    siteId: '3d7e4dad-d993-4b26-98aa-53fb41918242',
    branch: 'master',
    selector: 'div#search',
  });
</script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NG6S5Z3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- header new -->
<header>
    <div class="navbar navbar-dark bg-dark box-shadow py-4">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Online Hack & Generator</strong>
            </a>
            <div id="search"></div>
        </div>
    </div>
</header>
<main role="main">
    <div class="bg-light border box-shadow container mb-5 p-lg-5 p-sm-3" id="content">
        <div class="col-12 p-2">
            <div class="row">
                <div class="col-sm-12 col-lg-3">
                    <img src="{{ game['icon'] }}" alt="{{ game['name'] }} hack" class="img-fluid"/>
                </div>
                <div class="col-sm-12 col-lg-8 p-2">
                    <span>Last updated on: </span><span class="badge badge-success">{{ today }}</span>
                    <span>Category: </span><span class="badge badge-success">{{ game['category'] }}</span>
                    <h1>{{ game['name'] }} Hack & Generator</h1>
                    <div id="module">
                        <p class="collapse text-muted" id="collapseExample" aria-expanded="false">
                            {{ game['description'] }}
                        </p>
                        <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample"
                           aria-expanded="false" aria-controls="collapseExample">
                        </a>
                    </div>
                    <div class="clearfix"></div>
                    <form action="https://generatortool.online/generic-gen/" method="POST">
                        <input name="name" value="{{ game['name'] }}" type="hidden">
                        <input name="icon" value="{{ game['icon'] }}" type="hidden">
                        <input name="bg" value="{{ game['screenshots'][0] }}" type="hidden">
                        <input type="submit" value="Access Online Generator" class="btn btn-success mt-3 btn-lg">
                    </form>

                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-lg-5">
                    <!-- slider -->
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in game['screenshots'] %}
                            {% if loop.first %}
                            <div class="carousel-item active">
                                {% else %}
                                <div class="carousel-item">
                                    {% endif %}
                                    <img class="d-block w-100"
                                         src="{{ image }}">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- slider end -->
                    </div>

                    <div class="col-sm-12 col-lg-6">
                        <div id="#how-to-use">
                            <h2>How to use {{ game['name'] }} Generator?</h2>
                            <p>For using our online hack tool, you need to follow the below steps:</p>
                            <ul class="list-inline-item">
                                <li>First select the resource you want to generate from the below list.</li>
                                <li>Now click on the button "Start Generating" and wait for the generator too load.</li>
                                <li>Once it's loaded it will ask for your username/device, select it.</li>
                                <li>Now wait for the generator to generate your {{ game['name'] }} resources.</li>
                            </ul>
                            <p>Once the generate finish generating it will send the resources to your account
                                instantly.</p>
                            <p class="alert alert-warning">Note: In case of failure of human verification you need to do
                                it
                                manually, You can see the instructions on the verification page.</p>
                        </div>
                        <div id="#resources">
                            <h2>FREE* Resources</h2>
                            <ul>
                                {% for res in game['resources'] %}
                                <li>{{ res }} Hack</li>
                                {% endfor %}
                            </ul>
                            <form action="https://generatortool.online/generic-gen/" method="POST">
                        <input name="name" value="{{ game['name'] }}" type="hidden">
                        <input name="icon" value="{{ game['icon'] }}" type="hidden">
                        <input name="bg" value="{{ game['screenshots'][0] }}" type="hidden">
                        <input type="submit" value="Access Online Generator" class="btn btn-success mt-3 btn-lg">
                    </form>
                        </div>
                    </div>
                </div>

            </div>


</main>
<footer class="text-muted py-4 bg-dark">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>&copy; Online Hack & Generator</p>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>

