<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Primary Meta Tags -->
    <title>Online Hack & Generator</title>
    <meta name="title" content="Online Hack & Generator">
    <meta name="description"
          content="Online Hack & Generator: Get free and instant resources in any game with our online tool.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:title" content="Online Hack & Generator">
    <meta property="og:description"
          content="Online Hack & Generator: Get free and instant resources in any game with our online tool.">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NG6S5Z3');</script>
<!-- End Google Tag Manager -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: '07REZ329KM',
    apiKey: 'b26dbc9bf5167d3131f7960d858e4a4e',
    siteId: '3d7e4dad-d993-4b26-98aa-53fb41918242',
    branch: 'master',
    selector: 'div#search',
  });
</script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NG6S5Z3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- header new -->
<header>
    <div class="navbar navbar-dark bg-dark box-shadow py-4">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Online Hack & Generator</strong>
            </a>
            <div id="search"></div>
        </div>
    </div>
</header>
<main role="main">
    <div class="container mb-5">
        <div class="jumbotron my-3">
            <h1 class="text-capitalize">Welcome to biggest database of online app hack & generator!</h1>
            <p class="text-secondary">Browse our website and generate unlimited amout of resources in any game or app for free. Our latest v2 generator is sufficient to hack any app or game.</p>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            {% for game in games %}
            {% if loop.index <= 200 %}
            <div class="col-sm-6 col-lg-2 my-1 p-1">
                <div class="card">
                    <a href="/app/id{{ game['id']|urlencode }}.html"><img class="card-img-top"
                                                                          src="{{ game['icon']|replace('1286x0w.jpg', '250x250.jpg') }}"
                                                                          alt="{{ game['name'] }}"></a>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">{{ game['name'] }}</h5>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
<footer class="text-muted py-4 bg-dark">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>&copy; Online Hack & Generator</p>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
